/* .nav-signbtn{
    float:right;
    padding:2px;
    margin-top:5px;
} */

.sign-up-button {
font-size: 18px;
font-weight: bolder;
background-color: black;
color: rgb(255, 217, 0);
border-radius: 10%;
outline: 2px solid rgb(255, 217, 0);
}

h2 {
display: flex;
font-size:50px;
justify-content: center;
color: rgb(255, 217, 0);
text-shadow: -3px 0 black,
0 3px black,
3px 0 black,
0 -3px black;
}
h5 {
display: flex;
font-size:25px;
justify-content: center;
color: rgb(255, 217, 0);
text-shadow: -2px 0 black,
0 2px black,
2px 0 black,
0 2px black;
}

.signup-btn-container{
    display:flex;
    justify-content: center;
}
.signup-btn-subtmit {
display:flex;
font-size: 18px;
font-weight: bolder;
background-color: black;
color: rgb(255, 217, 0);
border-radius: 10%;
outline: 2px solid rgb(255, 217, 0);
align-items: center;
margin-top: 10px;
}