.edit-modal-button {
    color: rgb(255, 217, 0);
    background-color: black;
    font-size: 17px;
}

.photo-edit-button {
  color: rgb(255, 217, 0);
  background-color: black;
  font-size: 17px;
}

.edit-photo-input{
 margin-bottom: 10px;;
}

.photo-edit-container {
width: 350px;
height: 200px;
display: flex;
justify-content: center;
background-color: slategrey;
}

.photo-edit-form {
 display: flex;
 flex-direction: column;
 justify-content: center;
}