.edit-modal-button {
    color: rgb(255, 217, 0);
    background-color: black;
    font-size: 17px;
    border: 1px solid rgb(255, 217, 0);
    border-radius:5px;
}
.edit-modal-button:hover{
  color:white;
  cursor: pointer;
}

.photo-edit-button {
  color: rgb(255, 217, 0);
  background-color: black;
  font-size: 17.5px;
  border: 1px solid;
  border-radius: 5px;
  width: 80px;
  margin: 5px;
  height:25px;
  display:flex;
  justify-content: center;
}
.photo-edit-button:hover {
  color:white;
  cursor: pointer;
}

.cancel-upload-button {
  color: rgb(255, 217, 0);
  border:1px solid rgb(255, 217, 0);
  margin:5px;
  padding:2px;
  background-color: black;
  border-radius: 5px;
  font-size: 17.5px;
  width: 80px;
  height: 25px;
  display:flex;
  justify-content: center;
}
.cancel-upload-button:hover {
 color:white; 
cursor: pointer;
}

.edit-photo-input{
 margin-bottom: 10px;
}
.edit-buttons {
  display:flex;
  margin-top:1em;
}

.photo-edit-container {
width: 350px;
height: 200px;
display: flex;
justify-content: center;
background-color: rgb(47, 47, 65);
border: 1px solid rgb(255, 217, 0);
}

.photo-edit-form {
 display: flex;
 flex-direction: column;
 align-items: center;
}