*{
 margin: 0;
}

.landing-page-container {
 background-image: url("https://pbs.twimg.com/media/FEioTa1VEAEvgql?format=jpg&name=large");
 justify-content: center;
 align-items: center;
 width: 100%;
 min-height: 100%;
 display: flex;
 flex-direction: column;
 background-size:cover;
 background-repeat: no-repeat;
 font-size: 30px;
}

.landing-page-text {
 display: flex;
 justify-content: center;
 color: rgb(255,217,0);
 font-weight: bolder;
 text-shadow: 8px 8px 8px black
}

.landing-button {
  display: flex;
  justify-content: center;
}
.splash-signup {
  margin-top:3em;
  height:2.75em;
  font-size: .75em;
  width:9em;
  border-radius: 5px;
  border:unset;
  font-weight: 600;
  /* color: rgb(255,217,0) */
}
.splash-signup:hover {
  cursor:pointer;
}
.landing-page-texts {
  display: flex;
  justify-content: center;
  color: rgb(255, 217, 0);
  font-size: 25px;
  font-weight: bolder;

  text-shadow: 8px 8px 10px black
}