.navbar{
 background: rgb(0, 0, 0);
 height: 50px;
 width:100vw;
 display:flex;
 justify-content: space-between;
 align-items: center;
 position: absolute;
 top: 0;
}

.racer {
 text-decoration: none;
 display: flex;
 justify-content: center;
 color: rgb(255, 217, 0);
 padding:10px;
 font-size: 25px;
 font-weight: bolder;
 text-shadow: -2px 0 black,
 0 2px black,
 2px 0 black,
 0 -2px black;
 
}

.builds {
 text-decoration: none;
 color: rgb(255, 217, 0);
 display: flex;
 padding:10px;
 padding-left: 40px;
 font-size: 25px;
 font-weight: bolder;
 text-shadow: -2px 0 black,
 0 2px black,
 2px 0 black,
 0 -2px black;
}

.modal {
 display:flex;
 padding:10px;
}

.navbar-li {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width:auto;
}
.navbar-ul {
 width:100%;
}


.nav-links {
 display:flex;
 margin-left: -15px;


}

.nav-buttons {
 display:flex;
 flex-direction: row;
 padding:10px;
 justify-content: space-between;
}

.profile-btn {
 color: rgb(255, 217, 0);
 background-color: rgb(0, 0, 0);
 font-size: 20px;
 margin-right:20px;
 border-radius:5%
}

.profile-dropdown {

 width: 175px;
 color: rgb(255, 217, 0);
 margin-top: 120px;
 margin-right: 20px;
 border: 1px solid rgb(255, 217, 0);
 background-color: rgb(0, 0, 0);
 list-style: none;
 
}

.dropdown-list {
 display:flex;
 flex-direction: column;
 font-size: 20px;
 padding-left: 20px;
 padding-bottom:10px;
 text-shadow: -1px 0 black,
 0 1px black,
 1px 0 black,
 0 -1px black;
}

.logout-icon {
 color: rgb(255, 217, 0);
 padding:2px;
 background-color: black;
 font-size: 18px;
 /* display:flex;
 justify-content: center; */
}