/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(47, 47, 65);
  outline: 2px solid rgb(255, 217, 0);
  border:unset;
  /* border-radius: 10px; */
}


.login-btn {
    color: rgb(255, 217, 0);
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
    outline: 2px solid rgb(255, 217, 0);
}
.login-btn:hover  {
  color:white;
  cursor: pointer;
}

.fa.fa-sign-in:hover {
  color: white;
  cursor: pointer;
}
.login-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.login-header {
  display: flex;
  justify-content: center;
  color:rgb(255, 217, 0);
  margin-bottom: 10px;
  font-size: 2.5em;
  text-shadow: 8px 8px 8px black
}

label{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 30px;
    align-items: center;
    margin-bottom: 5px;
    color: rgb(255, 217, 0);
    font-weight:bolder;
    /* text-shadow: -1.5px 0 black,
    0 1.5px black,
    1.5px 0 black,
    0 -1.5px black; */
}

input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  border:1px solid;
  border-radius: 5px;
  color: rgb(255, 217, 0);
  margin-top:.5em;
  background-color: black;
}

.Nav-Logbtn{
  float:right;
  padding:2px;
  margin-top:5px;
  
} 

.log-in-icon {
  display: flex;
  font-size: 24px;
  align-items: center;
  padding-right: 15px;
  color: rgb(255, 217, 0);
}

.sign-in-button {
  font-size: .70em;
  font-weight: bolder;
  background-color: black;
  color: rgb(255, 217, 0);
  border-radius: 5px;
  border:unset
}

.sign-in-button:hover {
color: white;
cursor: pointer;
}