.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(255, 217, 0);;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(2, 3, 37, 0.925);

}
.login-btn {
    color: rgb(255, 217, 0);
    background-color: black;
    font-size: 20px;
    border-radius: 10%;
    outline: 2px solid rgb(255, 217, 0);
}
.login-btn-container {
    display: flex;
    justify-content: center;
}
.login-header {
  margin-bottom: 10px;
}

label{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 30px;
    align-items: center;
    margin-bottom: 5px;
    color: rgb(255, 217, 0);
    font-weight:bolder;
    text-shadow: -1.5px 0 black,
    0 1.5px black,
    1.5px 0 black,
    0 -1.5px black;
}

input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  border:1px solid;
  color: rgb(255, 217, 0);
  text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  background-color: black;
}

.Nav-Logbtn{
  float:right;
  padding:2px;
  margin-top:5px;
  
} 

.log-in-icon {
  display: flex;
  font-size: 24px;
  align-items: center;
  padding-right: 15px;
  color: rgb(255, 217, 0);
  text-shadow: -2px 0 black,
  0 2px black,
  2px 0 black,
  0 -2px black;
}